<div id="{{ .Get "id" }}" class="accordion" role="tablist">
    {{ range .Page.Pages }}
    {{ if .Params.description }}
    <div class="card">
      <div class="card-header" id="heading-{{ .Title | lower | replace " " "-" }}">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{ .Title | lower | replace " " "-" }}" aria-expanded="true" aria-controls="collapse-{{ .Title | lower | replace " " "-" }}">
            {{ .Title }}
          </button>
        </h5>
      </div>
      <div id="collapse-{{ .Title | lower | replace " " "-" }}" class="collapse" aria-labelledby="heading-{{ .Title | lower | replace " " "-" }}" data-parent="#{{ .Get "id" }}">
        <div class="card-body">
          <p>{{ .Params.description }}</p>
          <a href="{{ .Permalink }}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>